@model loja_de_games.Models.Cliente

@{
    ViewBag.Title = "Cliente";
}

<h2>Cadastro de Clientes</h2>

@using (Html.BeginForm("CadCliente", "Cliente", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fildset>

        <div class="editor-label">
            @Html.LabelFor(model => model.NomeCli)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NomeCli)
            @Html.ValidationMessageFor(model => model.NomeCli)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CPFCli)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CPFCli)
            @Html.ValidationMessageFor(model => model.CPFCli)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Celular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Celular)
            @Html.ValidationMessageFor(model => model.Celular)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Estado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Estado)
            @Html.ValidationMessageFor(model => model.Estado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cidade)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cidade)
            @Html.ValidationMessageFor(model => model.Cidade)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Logradouro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Logradouro)
            @Html.ValidationMessageFor(model => model.Logradouro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataNascimento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataNascimento)
            @Html.ValidationMessageFor(model => model.DataNascimento)
        </div>

        <p><input type="submit" value="Cadastrar" name="btnenviar"/></p>
    </fildset>

    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval");
    }
}


