@model IEnumerable<loja_de_games.Models.Jogo>

@{
    ViewBag.Title = "ResultadoJogo";
}

<p>@Html.ActionLink("Cadastrar Jogo", "Jogo")</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoJogo)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.NomeJogo)
        </th>

        <th>

            @Html.DisplayNameFor(model => model.Versao)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Desenvolvedor)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>

        <th>
            >
            @Html.DisplayNameFor(model => model.FaixaEtaria)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Plataforma)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Sinopse)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.AnoLancamento)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CodigoJogo)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.NomeJogo)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Versao)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Desenvolvedor)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Genero)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.FaixaEtaria)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Plataforma)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Sinopse)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.AnoLancamento)
    </td>
    <td>
        @Html.ActionLink("Alterar", "AltJogo", null, new { cdJogo = item.CodigoJogo }, new { @class = "bnt btn-primary btn-xs" })
        @Html.ActionLink("Deletar", "DelJogo", null, new { cdJogo = item.CodigoJogo }, new { @class = "bnt btn-danger btn-xs" })
    </td>
</tr>
    }
</table>
